@charset "utf-8";
/* CSS Document */
.container {
	max-width: 1200px;
	height: auto;
	}

.header {
	width: 100%;
	height: auto;
	}
	
.header h1 {
	font-size: 80px;
	color: #fff;
	text-align: center;
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
	margin-top: 200px;
	}
	
.timer-box {
	padding: 0px;
	width: 40%;
	margin: 0px auto;
	}
	

/** Countdown */

#countdown {
	height:auto;
	margin: 0px auto;
	display: inline-block;
	width: 100%;
	margin-left: 10%;
		
}
.dash {
	width: 16%;
	height: 60px;
	background-image: url("/html/nz/djs.png");
	background-size: 95% 100%;
	float: left;
	position: relative;
}

.djs_p{float: left; color: white; width:8%; text-align: center;font-size:30px;font-family:'微软雅黑';line-height: 150%;}

.dash .digit {
	line-height: 185%;
	font-size: 30px;
	float: left;
	width:50%;
	text-align: center;
	color:white;
	position: relative;
}

