


a{text-decoration:none;}

li{list-style:none outside none;}

.myBox ul{margin:0 auto 0;overflow:hidden;}
.myBox li{width:340px;height:250px;text-align:center;border:0px solid gray;}
.myBox li.on{background-color:#eebf2e;}

.text{height:50px;overflow:hidden;width:500px;margin:20px auto 0;font-size:20px;line-height:50px;text-align:center;}
.bt,.jg,.zt{float:left;width:200px;}
.bt{width:100px;height:50px;background:rgb(200,100,55);color:#fff;cursor:pointer;}

em{font-size:30px;font-style:normal;color:red;}








 







 